nav{
    font-family: 'Alkalami', serif;
    font-weight: 400;
    font-size: 20px;
    width: 100%;
    background: rgb(8, 2, 112);
    background: linear-gradient(90deg, rgba(8, 2, 112, 1) 0%, rgba(0, 212, 255, 1) 100%);
    text-decoration: none;
    height: 60px;
    color: whitesmoke;

}



.links{
    display: flex;
    justify-content:flex-start;

    align-items: center;
    padding-top: 0.5rem ;
}

.links li{
    list-style-type: none;
}


.links a,
.buttons a{
    color: rgb(255, 255, 255);
}

.logout-icon{
    color: rgb(252, 252, 252);
    height: 5%;
    width: 5%;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
}
