<nav>
        <ul>
                
           
    <div class="navContainer">
                    <div class="links">
                        <li class="navItem">
                            <a href="javascript:void(0);" routerLink="/" class="nav-link">Sales Prediction App</a>
                        </li>
                        <li class="navItem">
                            <a class="nav-link logout" href="javascript:void(0);" (click)="logout()">
                                <img src="../../assets/logout.svg" alt="Logout" class="logout-icon"/>
                            </a>
                        </li>
                    </div>
                    
                        
                    </div>
                
                
          

        </ul>

</nav>