<section class="login-block">
    <div class="container">
         <div class="row">
            <div class="col register-cont">
                <div class="form-group side-group">
                    <span>New here?</span>
                    <p>Create a new account with us</p> 
                    <a href="javascript:void(0);" routerLink="/signup">Register</a>
                </div>
                </div>
            <div class="col login-sec">
                <h2 class="text-center">Login Now</h2>
                <form class="login-form" action="" #f="ngForm" novalidate (ngSubmit)="f.form.valid&&onSubmit()">
                    <div class="form-group input-group">
                        
                        <input type="email" class="form-control" name="email" id="" placeholder="Email" [(ngModel)]="formdata.email" #email="ngModel" required >
                        
                    </div>
                    <span class="text-danger" *ngIf="this.submit&&email.errors?.['required']">
                        Email is required.
                    </span>
                    <div class="form-group input-group">
          
                        <input class="form-control" type="password" name="password" placeholder="Password" id="" [(ngModel)]="formdata.password" #password="ngModel" required>
                        
                    </div>
                    <span class="text-danger" *ngIf="this.submit&&password.errors?.['required']">
                        Password is required.
                    </span>
                    <div class="form-group output-group">
                        <div class="text-center" *ngIf="this.loading">
                            <div class="spinner-border text-primary " role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                        <span class="text-danger" *ngIf="this.errorMessage"> 
                            <p [innerText]="this.errorMessage">Custom Error Message!</p>
                        </span>
                        <input type="submit" class="btn btn-login float-none" value="Login" (click)="submit=true" [disabled]="this.loading">
                    </div>
                    <div class="clearfix"></div>
                    
                   
                </form>
            </div>
        
        </div>
    
    </div>
</section>